# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# Firebase
firebase_options.dart
functions/node_modules/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Misc
.env
